main {
    width: 70%;
    margin: 0 auto;

    article {
        display: flex;
        margin: 50px auto 50px;
    }

    h4 {
        margin-top: 0
    }

    .story-image {
        width: 30%;

        img {
            width: 100%;
            display: block;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        width: 60%;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: #333;
        }

        a:hover {
            text-decoration: underline;
        }

        p {
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
        }

        span {
            color: rgba(117, 117, 117, 1);
        }
    }

}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    font-size: 26px;
}